@font-face {
  font-family: "Blue Dream";
  src: url("../fonts/blue-dream/BlueDream-Regular.otf");
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dm-sans/DMSans-Bold.ttf");
}

body,
html {
  width: 100%;
  height: 100%;
}

.hero-section {
  background-image: url('../img/pink and gold marble bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 0;
}

.scrolling-section {
  z-index: 1;
}

.chara-block {
  margin-left: -20%;
  position: absolute;
  bottom: 0;
}

.chara-1 {
  width: 60%;
  z-index: 3;
  position: relative;
}

.chara-2 {
  z-index: 2;
  position: absolute;
  left: 25%;
  width: 55%;
  bottom: 0;
}

.chara-3 {
  z-index: 1;
  position: absolute;
  left: 48%;
  width: 50%;
  bottom: 0;
}

.content {
  padding-top: 100vh;
  position: relative;
  z-index: 1;
}

.second-section {
  min-height: 100vh;
}

.fluid {
  display: flex;
}

.transparent-section {
  height: 500vh;
  margin-top: -50%;
  width: 100%;
}

.sc-1 {
  background-color: black;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
  margin-top: 20%;
  z-index: 0;
}

.content-right-section {
  padding-top: 30vh;
  margin-left: 10%;
}

.content-right-section h1 {
  font-family: "Blue Dream", sans-serif;
  src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
  font-size: 200px;
  color: black;
  font-weight: 180px;
}

.content-right-section img {
  margin-top: -20%;
}

.content-right-section p {
  font-family: "DM Sans", sans-serif;
  src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("truetype");
  font-size: 18px;
  padding-bottom: 20px;
  color: black;
  font-weight: bold;
}

.content-right-section button {
  background-color: black;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  color: white;
}

.content-right-section button:hover {
  background-color: #FBD8C6;
  font-weight: bold;
}

.section-one-black {
  background-color: black;
}

.section-one-black .left h1 {
  padding-top: 200px;
  font-family: "Blue Dream", sans-serif;
  src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
  font-size: 100px;
  color: #FBD8C6;
  font-weight: 180px;
}

.section-one-black .left p {
  font-family: "DM Sans", sans-serif;
  src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("trutype");
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 20px;
  color: white;
  font-weight: 30px;
}

.section-one-black .left img {
  width: 20%;
}

.section-one-black .right h1 {
  padding-top: 100px;
  font-family: "Blue Dream", sans-serif;
  src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
  font-size: 100px;
  font-weight: 200;
  color: #FBD8C6;
  z-index: 0;
}


.section-one-black .right img {
  width: 60%;
  margin-top: -100px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 1;
  margin-left: 0%;
}

.section-two-black {
  padding-left: 200px;
  padding-bottom: 400px;
  background-color: black;
  z-index: 0;
}


.section-two-black .arrow img {
  margin-left: -18%;
  width: 70%;
  padding-top: 10%;
}

.section-two-black .span-text {
  margin-top: 2.5%;
  margin-left: -10%;
}

.section-two-black .span-text p {
  color: white;
  padding-bottom: 35px;
  font-family: "DM Sans", sans-serif;
  src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("trutype");
  font-weight: 200px;
}


.elipse {
  width: 90%;
  height: 100%;
  border-radius: 50%;
  border: 8px #FBD8C6 solid;
}

.elipse p {
  font-family: "Blue Dream", sans-serif;
  src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
  color: #FBD8C6;
  font-size: 100px;
  padding: 90px 10px 0px 10px;
}

.section-three-black {
  background-image: url('../img/Roadmap_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 150vh;
  width: 100%;
  z-index: 1;
  margin-top: -15%;
  padding-bottom: 300px;
}


.section-three-black .left img {
  width: 100%;
  position: static;
  bottom: 0;
  padding-top: 550px;
  z-index: 0;
}


.section-three-black .right {
  padding-left: 10%;
  opacity: 0.7;
  padding-top: 200px;
}

.section-three-black .content-two {
  padding-top: 10%;
}

.section-three-black .content-two h3 {
  font-family: "Blue Dream", sans-serif;
  src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
  font-size: 60px;
}

.section-three-black .right h1 {
  font-family: "Blue Dream", sans-serif;
  src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
  font-size: 150px;
  color: black;
  font-weight: bold;
  z-index: 2;
  transform: rotate(-10deg)
}

.section-three-black .content-two ul li {
  padding-bottom: 10px;
  font-family: "DM Sans", sans-serif;
  src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("truetype");
  font-size: 18px;
  font-weight: 100px;
}

.section-four-black {
  z-index: 2;
  background-image: url('../img/colab_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  margin-top: -15%;
}

.section-four-black .content {
  padding-top: 15%;
  padding-bottom: 10%;
  margin-left: 10%;
}

.section-four-black .content h1 {
  font-family: "Blue Dream", sans-serif;
  src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
  font-size: 100px;
  color: black;
  font-weight: bold;
}


.section-four-black .content-two img {
  width: 60%;
}

.section-five-black {
  z-index: 2;
  background-image: url('../img/Faq_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 120%;
  margin-top: -10%;
  padding-bottom: 400px;
}

.section-five-black .content-section-five {
  padding-top: 200px;
}

.section-five-black .content-section-five h1 {
  padding-top: 200px;
  font-family: "Blue Dream", sans-serif;
  src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
  font-size: 170px;
  color: black;
  font-weight: 180px;
}

.section-five-black .content-section-five .right {
  padding-top: 100px;
}

.section-five-black .content-section-five .right p {
  padding-left: 60px;
  font-family: "DM Sans", sans-serif;
    src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("trutype");
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.section-five-black .content-section-five .right img {
  width: 60%;
  margin-top: -60px;
}

.section-six-black {
  z-index: 2;
  background-image: url('../img/join_discord_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  width: 100%;
  margin-top: -300px;
  padding-bottom: 200px;
}

.section-six-black .section-six-content{
  padding-top: 200px;
  margin-left: 200px;
  padding-bottom: 50px;
}

.section-six-black .section-six-content .left h1 {
  font-family: "Blue Dream", sans-serif;
  src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
  font-size: 170px;
  color: #FBD8C6;
  font-weight: 180px;
  transform: rotate(-10deg);
}


.section-six-black .section-six-content .right {
  padding-top: 100px;
  padding-left: 100px;
}

.section-six-black .section-six-content .right h1 {
  font-family: "DM Sans", sans-serif;
    src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("trutype");
  font-size: 35px;
  font-weight: 120px;
  color: white;
}

.section-six-black .section-six-content .right p {
  font-family: "DM Sans", sans-serif;
    src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("trutype");
  font-size: 16px;
  color: white;
}

.section-six-black .section-six-content button {
  background-color: #FBD8C6;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  color: black;
}

.section-six-black .section-six-content button:hover {
  background-color: black;
  color: white;
  font-weight: bold;
}

.section-seven-black {
  color: white;
  z-index: 2;
  background-color: black;
  min-height: 50vh;
  width: 100%;
  margin-top: -50px;
  padding-bottom: 100px
}

.section-seven-black .content-section-seven {
  text-align: center !important;
  padding-top: 100px;
}


.section-seven-black .content-section-seven .logo {
  padding-left: 43%;
}

.section-seven-black .content-section-seven span {
  font-family: "DM Sans", sans-serif;
    src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("trutype");
  font-size: 16px;
  color: white;
}

.section-seven-black .content-section-seven p {
  font-family: "DM Sans", sans-serif;
    src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("trutype");
  font-size: 16px;
  color: white;
}

@media screen and (max-width: 500px) {
  .hero-section {
    background-image: url('../img/pink and gold marble bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 0;
  }

  .transparent-section {
    height: 100vh;
    margin-top: -230%;
    width: 100%;
  }

  .content {
    padding-top: 220%;
    z-index: 1;
    padding-bottom: 50px;
    height: 200px;
  }

  .second-section {
    min-height: 100vh;
  }

  .sc-1 {
    background-color: black;
    min-height: 100%;
    z-index: 0;
    margin-top: 100%;
  }

  .fluid {
    display: block;
  }

  .content-right-section h1 {
    font-family: "Blue Dream", sans-serif;
    src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
    font-size: 100px;
    color: black;
    font-weight: 180px;
  }

  .content-right-section img {
    margin-top: -10%;
    width: 50%;
  }

  .content-right-section p {
    font-family: "DM Sans", sans-serif;
    src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("trutype");
    font-size: 14px;
    padding-bottom: 20px;
    color: black;
    font-weight: bold;
  }

  .content-right-section button {
    background-color: black;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    color: white;
    text-align: center;
  }

  .content-right-section {
    padding-top: 30%;
    margin-left: 0%;
  }

  .section-one-black .left h1 {
    font-family: "Blue Dream", sans-serif;
    src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
    font-size: 70px;
    color: #FBD8C6;
    font-weight: 180px;
  }

  .section-one-black {
    margin-left: 0%;
  }

  .section-one-black .left img {
    width: 40%;
  }

  .section-one-black .right img {
    width: 100%;
    margin-top: -20%;
    margin-left: 0%;
  }

  .section-one-black .left p {
    font-size: 16px;
  }

  .section-two-black {
    padding-left: 15%;
  }

  .section-two-black .arrow img {
    margin-left: -80%;
    width: 200%;
    padding-top: 50%;
  }

  .elipse-box {
    margin-left: 10%;
    padding-bottom: 40px;
  }

  .elipse {
    width: 70%;
    height: 100%;
    border-radius: 50%;
    border: 5px #FBD8C6 solid;
    text-align: center;
  }

  .elipse p {
    font-family: "Blue Dream", sans-serif;
    src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
    color: #FBD8C6;
    font-size: 80px;
    padding: 50px 10px 0px 10px;
  }

  .arrow {
    display: none;
  }

  .section-two-black .span-text p {
    color: white;
    padding-bottom: 0px;
    margin-left: 10%;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("trutype");
    font-weight: 200px;
  }

  .section-three-black .left img {
    width: 100%;
    position: static;
    bottom: 0;
    padding-top: 50px;
  }

  .section-three-black .right {
    padding-left: 10%;
    opacity: 0.7;
    padding-top: 80px;
  }

  .section-three-black .content-two h3 {
    font-family: "Blue Dream", sans-serif;
    src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
    font-size: 40px;
  }

  .section-three-black .right h1 {
    font-family: "Blue Dream", sans-serif;
    src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
    font-size: 100px;
    color: black;
    font-weight: bold;
    z-index: 2;
    transform: rotate(-10deg);
    margin-left: 10%;
  }

  .section-three-black .content-two ul li {
    padding-bottom: 10px;
    font-family: "DM Sans", sans-serif;
    src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("truetype");
    font-size: 14px;
    font-weight: 100px;
  }

  .section-four-black {
    z-index: 2;
    background-image: url('../img/colab_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    margin-top: -5%;
  }

  .section-three-black {
    background-image: url('../img/Roadmap_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150vh;
    width: 100%;
    z-index: 1;
    margin-top: -65%;
    padding-bottom: 50px;
  }

  .section-four-black .adidas {
    margin-top: -180px;
    margin-left: 0px;
  }

  .section-four-black .adidas .adidas-1 {
    padding-bottom: 50px;
  }

  .section-four-black .adidas .adidas-1 img {
    width: 70px;
    margin-right: 25px;
  }

  .section-four-black .content-two img {
    width: 100%;
  }

  .section-five-black {
    z-index: 2;
    background-image: url('../img/Faq_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 120%;
    margin-top: -30%;
    padding-bottom: 100px;
  }

  .section-five-black .content-section-five {
    padding-top: 0px;
    margin-left: -100px;
  }

  .section-five-black .content-section-five h1 {
    padding-top: 200px;
    font-family: "Blue Dream", sans-serif;
    src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
    font-size: 170px;
    color: black;
    font-weight: 180px;
  }

  .section-five-black .content-section-five .right {
    padding-top: 100px;
    padding-left: 100px;
  }
  
  .section-five-black .content-section-five .right p {
    padding-left: px;
    font-family: "DM Sans", sans-serif;
      src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("trutype");
      font-size: 16px;
      color: black;
      font-weight: bold;
  }
  
  .section-five-black .content-section-five .right img {
    width: 80%;
    padding-left: 20px;
    margin-top: -60px;
  }

  .section-six-black {
    z-index: 2;
    background-image: url('../img/join_discord_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    width: 100%;
    margin-top: -70px;
  }

  .section-six-black .section-six-content{
    margin-top: 0px;
    margin-left: 0px;
    text-align: center !important;
  }

  .section-six-black .section-six-content .right {
    padding-top: 10px;
    padding-left: 0px;
  }

  .section-seven-black .content-section-seven .logo {
  padding-left: 33%;
}
}