@font-face {
  font-family: "Blue Dream";
  src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
}

body,
html {
  width: 100%;
  height: 100%;
}

.hero-section {
  background-image: url('../img/pink and gold marble bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 0;
}

.scrolling-section {
  z-index: 1;
}

.chara-block {
  margin-left: -20%;
  position: absolute;
  bottom: 0;
}

.chara-1 {
  width: 60%;
  z-index: 3;
  position: relative;
}

.chara-2 {
  z-index: 2;
  position: absolute;
  left: 25%;
  width: 55%;
  bottom: 0;
}

.chara-3 {
  z-index: 1;
  position: absolute;
  left: 48%;
  width: 50%;
  bottom: 0;
}

.content {
  padding-top: 100vh;
  position: relative;
  z-index: 1;
}

.second-section {
  min-height: 100vh;
}

.fluid {
  display: flex;
}

.transparent-section {
  height: 500vh;
  margin-top: -50%;
  width: 100%;
}

.sc-1 {
  background-color: black;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin-top: 20%;
}

.content-right-section {
  padding-top: 30vh;
  margin-left: 10%;
}

.content-right-section h1 {
  font-family: "Blue Dream", sans-serif;
  src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
  font-size: 200px;
  color: black;
  font-weight: 180px;
}

.content-right-section img {
  margin-top: -20%;
}

.content-right-section p {
  font-family: "DM Sans", sans-serif;
  src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("trutype");
  font-size: 18px;
  padding-bottom: 20px;
  color: black;
  font-weight: bold;
}

.content-right-section button {
  background-color: black;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  color: white;
}

.content-right-section button:hover {
  background-color: #FBD8C6;
  font-weight: bold;
}

.section-one-black {
  background-color: black;
  opacity: 0.5px;
  margin-left: 5%;
}

.section-one-black .left h1 {
  padding-top: 200px;
  font-family: "Blue Dream", sans-serif;
  src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
  font-size: 100px;
  color: #FBD8C6;
  font-weight: 180px;
}

.section-one-black .left p {
  font-family: "DM Sans", sans-serif;
  src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("trutype");
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 20px;
  color: white;
  font-weight: 30px;
}

.section-one-black .left img {
  width: 20%;
}

.section-one-black .right h1 {
  padding-top: 100px;
  font-family: "Blue Dream", sans-serif;
  src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
  font-size: 100px;
  font-weight: 200;
  color: #FBD8C6;
  z-index: 0;
}


.section-one-black .right img {
  width: 60%;
  margin-top: -100px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 1;
  margin-left: 0%;
}

.section-two-black {
  padding-left: 200px;
}


.section-two-black .arrow img {
  margin-left: -18%;
  width: 70%;
  padding-top: 10%;
}

.section-two-black .span-text {
  margin-top: 2.5%;
  margin-left: -10%;
}

.section-two-black .span-text p {
  color: white;
  padding-bottom: 35px;
  font-family: "DM Sans", sans-serif;
  src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("trutype");
  font-weight: 200px;
}


.elipse {
  width: 90%;
  height: 100%;
  border-radius: 50%;
  border: 8px #FBD8C6 solid;
}

.elipse p {
  font-family: "Blue Dream", sans-serif;
  src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
  color: #FBD8C6;
  font-size: 100px;
  padding: 60px 10px 0px 10px;
}

@media screen and (max-width: 500px) {
  .hero-section {
    background-image: url('../img/pink and gold marble bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 0;
  }

  .transparent-section {
    height: 100vh;
    margin-top: -230%;
    width: 100%;
  }

  .content {
    padding-top: 220%;
    z-index: 1;
    padding-bottom: 50px;
    height: 200px;
  }

  .second-section {
    min-height: 100vh;
  }

  .sc-1 {
    background-color: black;
    min-height: 500vh;
    margin-top: 100%;
  }

  .fluid {
    display: block;
  }

  .content-right-section h1 {
    font-family: "Blue Dream", sans-serif;
    src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
    font-size: 100px;
    color: black;
    font-weight: 180px;
  }

  .content-right-section img {
    margin-top: -10%;
    width: 50%;
  }

  .content-right-section p {
    font-family: "DM Sans", sans-serif;
    src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("trutype");
    font-size: 14px;
    padding-bottom: 20px;
    color: black;
    font-weight: bold;
  }

  .content-right-section button {
    background-color: black;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    color: white;
    text-align: center;
  }

  .content-right-section {
    padding-top: 30%;
    margin-left: 0%;
  }

  .section-one-black .left h1 {
    font-family: "Blue Dream", sans-serif;
    src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
    font-size: 70px;
    color: #FBD8C6;
    font-weight: 180px;
  }

  .section-one-black {
    margin-left: 0%;
  }

  .section-one-black .left img {
    width: 40%;
  }

  .section-one-black .right img {
    width: 100%;
    margin-top: -20%;
    margin-left: 0%;
  }

  .section-one-black .left p {
    font-size: 16px;
  }

  .section-two-black {
    padding-left: 0;
  }

  .section-two-black .arrow img {
    margin-left: -80%;
    width: 200%;
    padding-top: 50%;
  }

  .elipse-box {
    margin-left: 10%;
    padding-bottom: 40px;
  }

  .elipse {
    width: 70%;
    height: 100%;
    border-radius: 50%;
    border: 5px #FBD8C6 solid;
    text-align: center;
  }

  .elipse p {
    font-family: "Blue Dream", sans-serif;
    src: url("../fonts/blue-dream/BlueDream-Regular.otf") format("opentype");
    color: #FBD8C6;
    font-size: 80px;
    padding: 50px 10px 0px 10px;
  }

  .arrow {
    display: none;
  }

  .section-two-black .span-text p {
    color: white;
    padding-bottom: 0px;
    margin-left: 10%;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("trutype");
    font-weight: 200px;
  }

}